@page
@model FarmCart.Pages.Admin.ViewOrdersModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmSquare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmSquare.styles.css" asp-append-version="true" />
</head>
<body>

<table class="border-2 table table-striped table-striped">
    <thead class="border-3 ">
        <tr class="text-center"> 
            <th class="border p-1 text-danger text-center ">Customer_ref_no</th>
            <th class="border p-1 text-danger">Product_ref_no</th>
            <th class="border p-1 text-danger">Product_price</th>
            <th class="border p-1 text-danger">Product_quantity</th>
            <th class="border p-1 text-danger">Product_name</th>
                <th class="border p-1 text-danger">Customer_name</th>
                <th class="border p-1 text-danger">Customer_Email</th>
                <th class="border p-1 text-danger">Customer_PhoneNo</th>
               
            

        </tr>
    </thead>


        @{
            foreach (var o in Model.ord)
            {
                <tr class="text-center">
                    <td class="border-3 p-1 ">@o.cust_id</td>
                    <td class="border-3 p-1 ">@o.product_id</td>
                    <td class="border-3 p-1 ">@o.product_price</td>
                    <td class="border-3 p-1 ">@o.product_quantity</td>
                    <td class="border-3 p-1 ">@o.product_name</td>
                    <td class="border-3 p-1 ">@o.CustName</td>
                  

                    <td class="border-3 p-1 ">@o.CustEmail</td>
                    <td class="border-3 p-1 ">@o.CustPhone</td>

                </tr>
            }

    }
    </table>
   

    </body>
    </html>
