
@page
@model FarmCart.Pages.Admin.ViewProductcshtmlModel
@{
    Layout = "_AdminLayoutProduct";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmSquare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmSquare.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center text-success fs-5 m-3">PRODUCT DETAILS</div>

    <div class="container">
        <div class="row">
            @foreach (var prodd in Model.prodtable)
            {
                <div class="col-md-4 mb-4 w-25">
                    <div class="card shadow-sm">
                        <img src="~/Images/@prodd.imagepath" class="card-img-top" alt="@prodd.product_name" style="height: 150px; width:300px;">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@prodd.product_name</h5>
                            <p class="card-text">
                                <strong>Brand:</strong> @prodd.brand_name<br>
                                <strong>Supplier:</strong> @prodd.sup_id<br>
                                <strong>Price:</strong> ₹@prodd.product_price<br>
                                <strong>Description:</strong> @prodd.product_description
                            </p>
                            @if (prodd.is_available.Equals(true))
                            {
                                <span class="btn btn-success btn-sm">Available</span>
                            }
                            else
                            {
                                <span class="btn btn-danger btn-sm">Unavailable</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
